<%= render 'header' %>
<div class="container dashboard">
	<h3 class="text-info"><b>New Partner</b></h3>
	<hr>
	<%= render 'form' %>

	<%= link_to 'Back', partners_path %>	
</div>
<%= render 'footer' %>
