<div class="container" >
	<div class="text-center" id="welcome-div">
		<%= image_tag 'sourcify.jpg', width: '120', class: 'img-rounded' %>
		<h2 class="text-info"><b>Welcome to 3PL Stream by Sourcify!</b></h2>		
		<p class="text-muted">
			Easily compare Third Party Logistic Partners
		</p>
		<br><br>
		<ul>
			<li>
				Start by setting up your account with your details<br><br>
				<%= link_to 'Get Started', new_user_registration_path, class: 'btn btn-primary' %><br><br>
			</li>
			<li>
				See companies seeking third party logistic help!
			</li>
		</ul>		
	</div>
</div>
